<h1>Showing selected article</h1>

<h2><%= @article.title%></h2>

<h3>Description</h3>
<p><%= @article.description %>

<%= link_to 'edit this article', edit_article_path(@article) %>
<%= link_to 'Back to article listing', articles_path %>